body {
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
}

input, select, button {
    padding: 10px;
    margin: 5px;
    width: 250px;
}

button {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
}

h3 {
    color: #333;
    margin-top: 20px;
}
#result {
    margin-top: 20px;
    font-size: 1.2em;
    color: #555;
}